h1 {
    color:purple;
    text-align: center;
    font-size: larger;
}

#text {
    color:royalblue;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

<body {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

